<p class="text-2xl">Editing product</p>

<%= render "edit_form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", admin_products_path(@product) %> |
  <%= link_to "Back to products", admin_products_path %>
</div>
